<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 配置文件 -->
<configuration>
	<typeAliases>
		<typeAlias type="com.card.mybatis.entity.Book" alias="book"/>
	</typeAliases>
	<!-- 环境配置(ORM 数据环境) -->
	<environments default="development">
		<environment id="development">
			<!-- 当前数据源的事务的管理 type="JDBC" 采用原始的JDBC的事务 Manager 移交给其他的组件(Spring) -->
			<transactionManager type="JDBC"></transactionManager>
			<!-- 当前的数据源 type="POOLED" 使用数据链接池(C3P0 DBCP Druid) UNPOOLED 不使用数据连接池
			     JNDI(Java命名目录服务) 从服务器获取一个数据连接(tomcat) -->
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/test?serverTimezone=UTC"/>
				<property name="username" value="root"/>
				<property name="password" value="1324"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/hellojava/mybatis/entity/BookMapper.xml"/>
	</mappers>
</configuration>